@media screen and (min-width:320px) {
    .bo{
     
      display: flex;
      flex-direction: row;
      justify-content: center;
  
  }
  .all{
       width: 90%;
  }
  .header{
      width: 100%;
      display: grid;
      
      
      grid-template-columns: 50% 50%;
      background-color: #f95412;
      justify-items: center;
  }
  .anh{
    padding-top: 10px;
      grid-column: 1/3;
  }
  .search{
    
      grid-column: 1/3;
  }
  .fom{
     display: flex;
     
  }
  .fom input{
    margin-right: 0%;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
  }
  .fom button{
      
      background-color: #272f53;
      color: white;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius:10px ;
  }
  .nav-link{
    color: black;
    
  }
  .dropbtn {
      margin: 0%;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer; 
      
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      grid-column: 1/2    ;
      padding: 0px;
      margin-left: -80%;
     
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #d7fd00}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #f95412;
    }
    .banner{
      width: 100%;
    }
    .banner img{
      width: 100%;
      
    }
  
  
    .inside{
      text-align: center;
    }
    .inside h4{
      color: #f95412;
    }
    .noidung{
      margin: 10px 0px 0px 0px;
      border: 1px solid orange;
      padding: 20px;
    }
    .noidung img{
      width: 100%;
    }
    .noidung h5{
      color: #aa4100;
      text-align: left;
      margin: 0%;
      font-size: 15px;
    }
    .noidung p{
      font-size: 14px;
      text-align: left;
      margin-top: 0%;
    }
    .footer{
      width: 100%;
      height: 100px;
      line-height: 100px;
      text-align: center;
      background-color: #f95412;
      color: white;
    }
    
  
  
  
  
  
  }
  

  @media screen and (min-width:600px) {
    .bo{
     
      display: flex;
      flex-direction: row;
      justify-content: center;
  
  }
  .all{
       width: 90%;
  }
  .header{
      width: 100%;
      display: grid;
      
      
      grid-template-columns: 50% 50%;
      background-color: #f95412;
      justify-items: center;
  }
  .anh{
    padding-top: 10px;
      grid-column: 1/2;
  }
  .search{
    margin-top: 40px;
      grid-column: 2/3;
  }
  .fom{
     display: flex;
  }
  .fom input{
    margin-right: 0%;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
  }
  .fom button{
  background-color: #272f53;
      color: white;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius:10px ;
  }
  
  .dropbtn {
      margin: 0%;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer; 
      display: none;
    }
    
    
    .dropdown {
      position: relative;
      display: grid;
      grid-column: 1/2    ;
      padding: 0px;
      margin-left: 0%;
     width: 100%;
     grid-template-columns: 100%;
     grid-column: 1/3;
   ;
    }
    
 
    .dropdown-content {
     
      display: grid;
      position: static;
      background-color: #272f53;
      min-width: 100%;
      grid-template-columns: 50px 50px 50px 50px 50px  ;
      grid-gap: 10px;
      justify-content: center;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
  
    .dropdown-content a {
      font-size: 10px;
      color: white;
      padding: 10px;
      text-decoration: none;
      display:grid;
      grid-template-columns: 100% ;
      width: 50px;
    }
    
   
    .dropdown-content a:hover {background-color: #f95412}
    
   
    .dropdown:hover .dropdown-content {
      display: grid;
      grid-template-columns: 50px 50px 50px 50px 50px ;
    }
    
   
    .dropdown:hover .dropbtn {
      background-color: #f95412;
    }
    .banner{
      width: 100%;
    }
    .banner img{
      width: 100%;
      
    }
  
   
    .inside{
      text-align: center;
      display: grid;
      grid-template-columns: 50% 50%;
      
    }
    .inside h4{
      color: #f95412;
      grid-column: 1/3;
    }
    .noidung{
      margin: 10px 0px 0px 10px;
      border: 1px solid orange;
      padding: 20px;
    }
    .noidung img{
      width: 100%;
    }
    .noidung h5{
      color: #aa4100;
      text-align: center;
      margin: 0%;
      font-size: 20px;
    }
    .noidung p{
      font-size: 18px;
      text-align: center;
      margin-top: 0%;
    }
    .footer{
      width: 100%;
      height: 100px;
      line-height: 100px;
      text-align: center;
      background-color: #f95412;
      color: white;
    }
    
  
  
  
  
  
  }
  @media screen and (min-width:1024px) {
   
    .bo{
     
      display: flex;
      flex-direction: row;
      justify-content: center;
  
  }
  .all{
       width: 90%;
  }
  .header{
      width: 100%;
      display: grid;
      
      
      grid-template-columns: 50% 50%;
      background-color: #f95412;
      justify-items: center;
  }
  .anh{
    padding-top: 10px;
      grid-column: 1/2;
  }
  .search{
    margin-top: 40px;
      grid-column: 2/3;
  }
  .fom{
     display: flex;
  }
  .fom input{
    margin-right: 0%;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
  }
  .fom button{
      
      background-color: #272f53;
      color: white;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius:10px ;
  }
  .dropbtn {
      margin: 0%;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer; 
      display: none;
    }
    
    
    .dropdown {
      position: relative;
      display: grid;
      grid-column: 1/2    ;
      padding: 0px;
      margin-left: 0%;
     width: 100%;
     grid-template-columns: 100%;
     grid-column: 1/3;
   ;
    }
    
   
    .dropdown-content {
     
      display: grid;
      position: static;
      background-color: #272f53;
      min-width: 100%;
      grid-template-columns: 50px 50px 50px 50px 50px  ;
      grid-gap: 10px;
      justify-content: center;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
   
    .dropdown-content a {
      font-size: 10px;
      color: white;
      padding: 10px;
      text-decoration: none;
      display:grid;
      grid-template-columns: 100% ;
      width: 50px;
    }
   
    .dropdown-content a:hover {background-color: #f95412}
    
   
    .dropdown:hover .dropdown-content {
      display: grid;
      grid-template-columns: 50px 50px 50px 50px 50px ;
    }
    
    
    .dropdown:hover .dropbtn {
      background-color: #f95412;
    }
    .banner{
      width: 100%;
    }
    .banner img{
      width: 100%;
      
    }
  
   
    .inside{
      text-align: center;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      
    }
    .inside h4{
      color: #f95412;
      grid-column: 1/4;
    }
    .noidung{
      margin: 10px 0px 0px 10px;
      border: 1px solid orange;
      padding: 20px;
    }
    .noidung img{
      width: 100%;
    }
    .noidung h5{
      color: #aa4100;
      text-align: center;
      margin: 0%;
      font-size: 20px;
    }
    .noidung p{
      font-size: 18px;
      text-align: center;
      margin-top: 0%;
    }
    .footer{
      width: 100%;
      height:80px;
      line-height: 100px;
      text-align: center;
      background-color: #f95412;
      color: white;
    }
    
  
  
  
  
  
  }